
*{
    box-sizing: border-box;
}
  
  /* Create two equal columns that floats next to each other */
.column {
    float: left;
    width: 100%;
    padding: 10px;
  }
  
  /* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
  }


th, td {
  border: none;
  padding-top: 10px;
  padding-bottom: 20px;
  padding-left: 30px;
  padding-right: 40px;
  }



  .button1 {
    border-radius: 4px;
    background-color: #aaa;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 28px;
    font-family: 'lato', sans-serif;
    padding: 20px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
    vertical-align: middle;
  }
  
  .button1 span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .button1 span:after {
    content: "<<";
    position: absolute;
    opacity: 0;
    top: 0;
    left: 20px;
    transition: 0.5s;
  }
  
  .button1:hover span {
    padding-left: 40px;
  }
  
  .button1:hover span:after {
    opacity: 1;
    left: 0;
  }

  .vertical-center {
    margin: 0;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }

  mark.darkBlue {
    color:#002E6E;
    background: none;
    padding: 0;
}

mark.lightBlue {
    color:#00B9F1;
    background: none;
    padding: 0;
}