
*{
    box-sizing: border-box;
}
  
  /* Create two equal columns that floats next to each other */
.column {
    float: left;
    width: 100%;
    padding: 10px;
  }
  
  /* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
  }


th, td {
  border: none;
  padding-top: 10px;
  padding-bottom: 20px;
  padding-left: 30px;
  padding-right: 40px;
  }

.button1 {
  align-self: center;
  background-color: #555555; /* Black */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;

} 

